*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::selection{
    display: none;
}

body{
    background-color: #000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navigation{
    background-color: rgb(120,120,120);
    width: 100%;
    height: 70px;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.logo-img img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    pointer-events: none;
}

.logo-text h3{
    color: #9FEF00;
    font-weight: bold;
    font-family: Arial, "san-serif";
    font-size: 18px;
    cursor: pointer;
}

.logo-text h3::selection{
    display: none;
}

.logo-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 505 50%;
    pointer-events: none;
    cursor: pointer;
}


.user-profile img:hover{
    opacity: 0.8;
}

.search-cont{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}



.search-btn button{
    background-color: hsla(240, 81%, 60%, 0.89);
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.6s;
    
}

.search-btn button:hover{
    background-color: rgba(250,250,250,0.128);
}



.search-input input{
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #333;
    color: #9FEF00;
    font-family: Arial, "san-serif";
}

.search-input input:focus{
    border-color: rgba(120,120,120,0.128);
}

.saved-notes{
    color: #fff;
    font-family: Arial, "san-serif";
}

.saved-notes h3{
    color: #fff;
    margin-top: 10px;
    padding-left: 10px;
    font-family: Arial, "san-serif";
}

.note-1{
    margin-top: 10px;
    background-color: #333;
    width: 80%;
    margin-left: 10px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.note-1:hover{
    background-color: rgba(250,250,250,0.128);
}

.list-notes ul li{
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    color: darkgray;
}

.list-notes ul{
    margin-top: 10px;
}

.add-cont-main{
    display: flex;
    justify-content: center;
}

.add-cont{
    background: #9FEF00;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.6s;
    margin-bottom: 30px;
}

.date-cont{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orange;
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.add-cont:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, "san-serif";
}

/* Create page css */

.title-head{
    background-color: rgba(250,250,250,0.128);
    margin-top: 20px;
    width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    color: rgb(200, 200, 200);
    font-family: Arial, "san-serif";
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.first-section{
    display: flex;
    justify-content: center;
    position: relative;
}

.go-back-cont-main{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 10px;
}

.go-back-cont{
    background: #9FEF00;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.6s;
    margin-bottom: 30px;
}

.second-section{
    display: flex;
    justify-content: center;
    font-family: Arial, "san-serif";
    color: #fff;
    margin-top: 50px;
}

.task-title-input input{
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 15px;
    width: 100%;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #333;
    color: #9FEF00;
    font-family: Arial, "san-serif";
}

.task-title-input textarea{
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #333;
    color: #9FEF00;
    font-family: Arial, "san-serif";
}

.add-btn{
    background: #9FEF00;
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.6s;
    margin-bottom: 30px;
    border: none;
}

/* profile-section */
.profile-section{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #fff;
    font-family: Arial, "san-serif";
}

.user-profile-cont{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #333;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
}

.signout_btn{
    background: 0;
    color: #9FEF00;
    border: none;
    outline: none;
    cursor: pointer;
}

.delete-acc-section{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #fff;
    font-family: Arial, "san-serif";
    margin-bottom: 40px;
}

.delete-acc-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

#delete-acc-input::placeholder{
    color: #fff !important;
    opacity: 0.6;
}

/* about styles */
.about-section{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #fff;
    font-family: Arial, "san-serif";
    margin-bottom: 40px;
}

.about-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.privacy-notes ul li{
    list-style: none;
    font-size: 12px;
    line-height: 20px;
    color: #9FEF00;
    opacity: 0.8;
    text-decoration: underline;
    cursor: pointer;
}

.privacy-notes ul{
    margin-top: 10px;
}

